.p-header {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 64px;
  padding: 0px;
  background: linear-gradient(180deg,rgba(0,0,0,.3) 10%,transparent);
}
.p-header-nav-wrapper {
  float: left;
  padding-left: 30px;
  //padding-top: 14px;
  .p-header-logo {
    float: left;
    width: 150px;
    height: 64px;
    img {
      height: 100%;
      vertical-align: top;
    }
  }
  .p-header-nav {
    float: left;
    margin-left: 18px;
    height: 64px;
  }
}
.p-header-user-wrapper {
  float: right;
  padding-right: 30px;
  .p-header-search {
    float: left;
  }
  .p-header-cut {
    line-height: 64px;
    float: left;
    margin-left: 6px;
    margin-right: 15px;
    color: silver;
  }
  .p-header-user-status {
    height: 64px;
    line-height: 64px;
    float: left;
    font-size: 16px;
  }
  .p-header-login {
    a {
      font-weight: 700;
      padding-left: 14px;
      color: #fff;
      text-decoration: none;
      font-size: 14px;
    }
  }
  .p-header-login-icon-span {
    padding-left: 14px;
    color: #fff;
  }
}
.QR-code {
  width: 100px;
  height: 100px;
  background: red;
}
