@import '../../../config/color.less';


.layout-center {
  height: 100%;
}
.layout-center-sider {
  width: 256px;
  flex: 0 0 256px;
  max-width: 256px;
  min-width: 256px;
}
.layout-header {
  background: @pf_color;
}
.layout-header-userinfo {
  float: right;
  height: 100%;
}
// .layout-center-sider {
//   background: @pf_color;
// }
